$color1: #3F5D45;
$color2: #FFE180;
$color3: #EAF0ED;
$color4: #8DA291;


    nav.navbar{
      padding: 2rem 2.5rem;

      li.nav-item a.nav-link{
        padding-left: 4rem;
        font-size: 16px;
        font-weight: 600;
        color: #3F5D45;
      }

    }

    #navbarNav{
      flex-direction: row-reverse;
    }

    .navbar-cart{
        display: none;
    }

    .container-fluid .col-12{
      padding: 0 2rem;
    }

    .category-container{
      position: relative;
      top: -100px;
    }

    .category-box.col-sm-4{
        padding-left: 0;
        padding-right: 1px;
    }

    .category{
      width: 100%;
      color: #ffffff;
      font-size: 24px;
      letter-spacing: 5px;
      background: $color1;
      -webkit-writing-mode: vertical-lr;
      writing-mode: vertical-lr;
      padding: 80px 0px;

      &:hover{
        transition: all .2s ease-in-out;
        font-weight: bold;
        opacity: .7;
        background: $color2;
        color: $color1;
      }
    }

    .content.container-fluid{
      height: 420px;
      padding: 0px;
      margin-bottom: 80px;
      background: $color3;

      .row{
        margin: 0 40px;
      }
    }

    .content-background{
      position: relative;
      top: -15px;
      width: 460px;
      height: 460px;
      background: url(../assets/images/le-buzz-576478-unsplash.jpg);
      background-position: center center;
      background-size: cover;
    }

    .contnet-right{
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      height: 420px;

      img{
        position: relative;
        top: -20px;
        width: 89px;
      }

      .text-wrapper{
        position: relative;
        right: 175px;
      }

      p{
        color: $color4;
        font-size: 16px;
        line-height: 70px;
        margin: auto 15px; 
        height: 280px
      }
    }

    .content.container-fluid.second-content{
      .row{
        flex-direction: row-reverse;
      }
    }

    .second-content-img{
      margin-right: 51px;
    }

    .second-conetent-background{
      position: relative;
      top: -15px;
      width: 460px;
      height: 460px;
      background: url(../assets/images/monika-grabkowska-325047-unsplash.jpg);
      background-position: center center;
      background-size: cover;
    }

    .cart-wrapper{
      margin-top: 80px;
      .row{
        margin-left: 40px;
      }
    }


    div.card{
      border: 0;
      a.btn{
        display: inline-block;
        color: $color1;
        font-weight: bold;
        font-size: 24px;
        background: $color3;
        width: 100%;
        padding: 15px
      }
    }

    div.card-body{
      padding: 0;
    }

    .card-title{
      padding: 20px 55px;
      color: $color1;
      display: flex;
      justify-content: space-between;
    }

    .card-img-top{
      position: relative;
      width: 300px;
      height: 315px;
      background: url(../assets/images/heather-schwartz-493946-unsplash.jpg);
      background-position: center center;
      background-size: cover;

      span{
        position: absolute;
        left: 30px;
        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-lr;
        padding: 10px 8px;
        background: $color1;
        color: #ffffff;
        font-size: 16px;
        letter-spacing: 5px;
      }

      i{
        position: absolute;
        font-size: 20px;
        right: 22px;
        top: 19px;
      }
    }

    .card-img-top-second{
      background: url(../assets/images/food-photographer-jennifer-pallian-650641-unsplash.jpg);
      background-position: center center;
      background-size: cover;
    }

    .card-img-top-third{
      background: url(../assets/images/rezel-apacionado-362238-unsplash.jpg);
      background-position: center center;
      background-size: cover;
    }

    .subscribe{
      background: $color1;
      padding: 24px 0;
      margin-top: 60px;
      img{
        height: 40px;
      }
      
      span{
        display: inline-block;
        color: white;
        font-size: 24px;
        margin-left: 20px;
      }
      
      .input-group{
        
        .input-group-prepend{
          
          .input-group-text{
            border: 0;
            padding: 0 0 0 20px;
            border-radius: 0;
            background: #fff;
            color: $color1;
            
            i{
              line-height: 68px;
            }
          }
        }
        
        .form-control{
          height: 68px;
          border-color: #fff;

          &:focus{
            outline: 0;
          }
        }
        
        .input-group-append{
          
          .btn{
            margin: 0;
            border: 0;
            padding: 16px 24px;
            border-radius: 0;
            color: $color1;
            background: $color2;
          }
        }
      }
    }

    .contact-section{
      padding-top: 40px;
    }

    .contact{
      color: $color1;
      margin: 115px 0 30px 0;
    }

    .contact-icon a{
      font-size: 32px;
      color: $color1;
      padding-right: 8px;
      &:hover{
        text-decoration: none;
        color: $color1;
      }
    }
    
    .footer-right{
      color: $color1;
      font-size: 16px;
      p{
        text-align: right;
        line-height: 48px;
        margin: 0;
      }
    }

    @import './HomeRWD.scss';

